
@{
    ViewBag.Title = "Kullanıcı Bilgilerim";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var user = ViewBag.User;
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kullanıcı Bilgilerim </font></font></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li style="float:right;">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-10 col-sm-10 col-xs-12">

                    <div class="form-group row">
                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kullanıcı Adı</font></font>
                        </label>

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Güncellenecek Kayıt Tarihi</font></font>
                        </label>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" tabindex="1" disabled id="username" data-id="@user.ID" data-roleid="@user.RoleID" placeholder="Kullanıcı Adı" required="required" class="form-control" value="@user.UserName">
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" disabled placeholder="Kayıt Tarihi" required="required" class="form-control" value="@DateTime.Now.ToString("dd.MM.yyyy")">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ad</font></font>
                        </label>

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Soyad</font></font>
                        </label>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" tabindex="2" id="name" placeholder="Ad" required="required" class="form-control" value="@user.Name">
                        </div>


                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" tabindex="3" id="surname" placeholder="Soyad" required="required" class="form-control" value="@user.SurName">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-Mail</font></font>
                        </label>

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telefon</font></font>
                        </label>

                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <input type="text" tabindex="4" id="email" placeholder="E-Mail" required="required" class="form-control" value="@user.Email">
                        </div>


                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" tabindex="5" id="telephone" placeholder="Telefon" required="required" class="form-control" value="@user.Telephone">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifre</font></font>
                        </label>

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifre Onay</font></font>
                        </label>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="password" tabindex="6" id="password" placeholder="Şifre" required="required" class="form-control" value="@user.Password">
                        </div>


                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="password" tabindex="7" id="password_2" placeholder="Şifre Onay" required="required" class="form-control" value="@user.Password">
                        </div>
                    </div>

                </div>

                <div class="col-md-2 col-sm-2 col-xs-0">

                    <div class="form-group row">
                        <br />
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view" src="~/Content/Gentelella/production/images/user.png" alt="Avatar" title="">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn-sm btn-info col-md-3" style="float:right;" id="btn-update-user"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fa fa-edit m-right-xs"></i> Bilgilerimi Kaydet</font></font></button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/PageScripts/User/UpdateUser.js"></script>
<script type="text/javascript">
    var submitUrl = "@Url.Action("UpdateUser", "User")";
</script>



