
@{
    ViewBag.Title = "Kitap Listesi";
    Layout = "~/Views/Shared/_MenagerLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tüm Kitap Listesi </font></font></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li style="float:right;">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn-sm btn-success" id="btnsifirla" data-toggle="modal" data-target=".bs-example-modal-lg" style="width:175px; margin-bottom:10px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Ekle</font></font></button>
                                </div>
                            </div>
                            <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-sort="ascending">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Barkod No</font></font>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Adı</font></font>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yazar</font></font>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yayınevi</font></font>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tür</font></font>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sayfa</font></font>
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Basım Tarihi</font></font>
                                        </th>
                                        <th class="sorting col-md-2" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1">
                                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">İşlemler</font></font>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in ViewBag.Books)
                                        {
                                            <tr role="row" class="odd">
                                                <td class="sorting_1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.ID</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Name</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.AuthorName</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.PublisherName</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.TypeName</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.NumberOfPage</font></font></td>
                                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.YearOfPublic</font></font></td>
                                                <td style="padding-left:2.5%;">
                                                    <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg-delete" data-id="@item.ID" class="btn-xs btn-danger frm-delete-book col-md-5 col-xs-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sil</font></font></button>
                                                    <button type="button" data-toggle="modal" data-target=".bs-example-modal-lg" data-id="@item.ID" data-name="@item.Name" data-authorid="@item.AuthorID" data-publisherid="@item.PublisherID" data-typeid="@item.TypeID" data-numberofpage="@item.NumberOfPage" data-yearofpublic="@item.YearOfPublic" data-image="@item.Image" class="btn-xs btn-info frm-update-book col-md-5 col-xs-12"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Güncelle</font></font></button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade bs-example-modal-lg in" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right: 17px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">x</font></font></span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Kayıt Formu</font></font></h4>
            </div>
            <div class="modal-body">
                <form data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

                    <div class="col-md-5 col-sm-5 col-xs-12">

                        <div class="form-group row">
                            <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Adı</font></font>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" tabindex="1" id="book_name" placeholder="Kitap Adı" required="required" class="form-control" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Yayınevi</font></font>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <select id="publisher_id" tabindex="3" class="form-control">
                                    <option value="">Yayınevi Seçiniz</option>
                                    @{
                                        foreach (var item in ViewBag.Publishers)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Sayfası</font></font>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="number" tabindex="5" id="number_of_page" placeholder="Kitap Sayfası" required="required" class="form-control" value="">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12">

                        <div class="form-group row">
                            <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Yazar</font></font>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <select id="author_id" tabindex="2" class="form-control">
                                    <option value="">Yazar Seçiniz</option>
                                    @{
                                        foreach (var item in ViewBag.Authors)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Türü</font></font>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <select id="type_id" tabindex="4" class="form-control">
                                    <option value="">Tür Seçiniz</option>
                                    @{
                                        foreach (var item in ViewBag.Types)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Basım Yılı</font></font>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" maxlength="4" onkeypress="return isNumberKey(event)" tabindex="6" id="year_of_public" placeholder="Basım Yılı" required="required" class="form-control" value="">
                            </div>
                        </div>



                    </div>

                    <div class="col-md-2 col-sm-2 col-xs-0">

                        <div class="form-group row">
                            <br />
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view" id="bookimage" src="~/Content/Gentelella/production/images/book.png" alt="Avatar" title="">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-10 col-sm-10 col-xs-12">

                        <div class="form-group">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12" for="first-name" style="text-align:left;margin-bottom:5px;">
                                Kitap Resmi
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <img id="yukluresim" class="" style="display:none; width:100%; height:200px;" src="" />
                                <div id="mydropzone" style="min-height: 200px; max-height: 200px;min-width: 100%;margin-left:-4px; border-radius:10px;">
                                    <div class="dz-message" data-dz-message>
                                        <img class="mrexelicon" style="width:60px; height:40px;" src="~/Content/Gentelella/Upload.png" />
                                        <h2 class="mrdropexelh1">Kitap Resim Yükleme Alanı</h2>
                                        <span>Yüklemek için tıklayınız..</span>
                                    </div>

                                </div>
                                <input type="text" style="display:none;" id="image" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="form-group row">
                            <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kayıt Tarihi </font></font>
                            </label>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" placeholder="Kayıt Tarihi" disabled required="required" class="form-control" value="@DateTime.Now.ToString("dd.MM.yyyy")">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-danger" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kapat</font></font></button>
                <button type="button" class="btn-sm btn-success" id="btn-add-book"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Kaydet</font></font></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg-delete in" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right: 17px;">
    <div class="modal-dialog modal-lg modal-danger">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">x</font></font></span>
                </button>
                <h4 class="modal-title" id="myModalLabel"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Silme Formu</font></font></h4>
            </div>
            <div class="modal-body">
                <h4>Kitabı gerçekten silmek istiyor musunuz?</h4>
                <p>Kitap eğer bir kullanıcıda ise bu bilgiler'de silinecektir.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-sm btn-info" data-dismiss="modal"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kapat</font></font></button>
                <button type="button" class="btn-sm btn-danger" id="btn-delete-book"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kitap Sil</font></font></button>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/PageScripts/AddBook.js"></script>
<script type="text/javascript">
    var submitUrl = "@Url.Action("CreateOrUpdateBook", "Menager")";
    var deleteUrl = "@Url.Action("DeleteBook", "Menager")";
</script>

<script src="~/Content/dropzone.js"></script>

<script>
    $("#mydropzone").dropzone({
        url: "/Menager/Upload",
        addRemoveLinks: true,
        maxFiles: 1,
        acceptedFiles: ".jpg,.png",

        dictDefaultMessage:
            'Resim Yükleme Hatası',
        dictResponseError: 'Error uploading file!',
        init: function () {
            this.on("maxfilesexceeded",
                function (file) {
                    this.removeFile(file);
                });
            $("#mydropzone").addClass("dropzone");
        },
        success: function (file, response) {
            if (response == "Error") {
                $.alert("Resim Jpg veya Png formatında yüklenmeli!", {
                    title: 'Resim Yükleme İşlemi',
                    closeTime: 3000,
                    autoClose: true,
                    withTime: false,
                    type: "danger",
                    isOnly: true,
                    onClose: function () {

                    }
                });
                this.removeFile(file);

            }
            else {
                $("#image").val(response);
                $('#bookimage').attr('src', response);

            }

        },
        removedfile: function (file) {
            $('#bookimage').attr('src', "/Content/Gentelella/production/images/book.png");
            var _ref;
            return (_ref = file.previewElement) != null
                ? _ref.parentNode.removeChild(file.previewElement)
                : void 0;
        }
    });
</script>