
@{
    ViewBag.Title = "Şifre Öğrenme Ekranı";
    Layout = "~/Views/Shared/_MenagerLayout.cshtml";
    var user = ViewBag.User;
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifre Öğrenme Ekranı </font></font></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li style="float:right;">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-10 col-sm-10 col-xs-12">

                    <div class="form-group row">
                        <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kullanıcı Adı</font></font>
                        </label>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" tabindex="1" disabled id="username" data-id="@user.ID" placeholder="Kullanıcı Adı" required="required" class="form-control" value="@user.UserName">
                        </div>

                    </div>

                    <div class="form-group row">

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ad</font></font>
                        </label>

                        <label class="col-form-label col-md-5 col-sm-5 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Soyad</font></font>
                        </label>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" tabindex="2" disabled id="name" placeholder="Ad" required="required" class="form-control" value="@user.Name">
                        </div>


                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="text" tabindex="3" disabled id="surname" placeholder="Soyad" required="required" class="form-control" value="@user.SurName">
                        </div>
                    </div>

                    <div class="form-group row">

                        <label class="col-form-label col-md-12 col-sm-12 col-xs-12 label-align" for="first-name">
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-Mail</font></font>
                        </label>

                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <input type="text" tabindex="4" disabled id="email" placeholder="E-Mail" required="required" class="form-control" value="@user.Email">
                        </div>

                    </div>



                </div>

                <div class="col-md-2 col-sm-2 col-xs-0">

                    <div class="form-group row">
                        <br />
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img class="img-responsive avatar-view" src="~/Content/Gentelella/production/images/e-mail.png" alt="Avatar" title="">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button type="button" class="btn-sm btn-info col-md-3" style="float:right;" id="frmmailsender"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fa fa-edit m-right-xs"></i> Şifre Bilgilerimi Gönder</font></font></button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Content/PageScripts/mailSender.js"></script>
<script type="text/javascript">
    var mailSenderUrl = "@Url.Action("MailPasswordSender", "Menager")";
</script>


