<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - Gazi KYS </title>

    <!--Gerekli Css Eklentisi-->
    @Styles.Render("~/Content/Gentelella")
    @Styles.Render("~/Content/GentelellaDatatables")


    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.core.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.resizable.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.selectable.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.accordion.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.autocomplete.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.button.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.dialog.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.slider.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.tabs.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.datepicker.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.progressbar.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/themes/base/jquery.ui.theme.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/dropzone.css' />

    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/plugins/bootstrapvalidator/css/bootstrapValidator.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/nprogress/nprogress.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/build/css/custom.min.css' />

    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/iCheck/skins/flat/green.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' />
    <link rel='stylesheet' type='text/css' href='~/Content/Gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' />
    <link rel="shortcut icon" href="~/Content/gazi.png" type="image/x-icon">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>


</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="\User\Index" class="site_title" style="background-color: #f11a18; border: 1px; height: 100%;"><i class="fa fa-paw"></i> <span> Kullanıcı Modülü</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="~/Content/Gentelella/production/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Hoş Geldiniz,</span>
                            <h2>@Session["Adi"] @Session["Soyadi"]</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>GENEL PANEL</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-user"></i>Bilgilerim <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="\User\Information">Kullanıcı Bilgilerim</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i>Kütüphane Bilgileri <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="\User\LibraryBookList">Kütüphanede Olan Kitaplar</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-book"></i>Kitap Ödünç İşlemleri <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="\User\LendBook">Kitap Ödünç Al</a></li>
                                        <li><a href="\User\ReturnBook">Kitap Teslim Et</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-cog"></i>Şifre Ayarları <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="\User\Password">Şifre Öğrenme Ekranı</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Çıkış Yap" href="\Login\Index" style="width:100%;">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/Gentelella/production/images/img.jpg" alt="">@Session["Adi"] @Session["Soyadi"]
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="\Login\Index"><i class="fa fa-sign-out pull-right"></i> Çıkış Yap</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height:1155px;">
                <div class="">
                    @RenderSection("featured", required: false)

                    @RenderBody()
                </div>

            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Copyright @@ 2021-2022 Design By Adem KARADENİZ - Eren Can AKTAŞ
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    @RenderSection("scripts", required: false)

    @Scripts.Render("~/Content/GentelellaJs")


    @Scripts.Render("~/Content/GentelellaDatatablesJs")


</body>
</html>

